PORT=3200
PROJECT_CODE=swm
SQL_EXECUTOR_API_KEY=replace-with-at-least-16-characters

DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
DATABASE_NAME=swm
DATABASE_CATALOG_USER=sql_executor_catalog
DATABASE_CATALOG_PASSWORD=CHANGE_ME
DATABASE_READ_USER=sql_executor_read
DATABASE_READ_PASSWORD=CHANGE_ME
DATABASE_WRITE_USER=sql_executor_write
DATABASE_WRITE_PASSWORD=CHANGE_ME
DATABASE_SSL=false
DATABASE_POOL_MAX=10

SQL_EXECUTOR_REQUEST_MAX_BYTES=262144
SQL_EXECUTOR_DEFAULT_TIMEOUT_MS=15000
SQL_EXECUTOR_MAX_TIMEOUT_MS=60000
SQL_EXECUTOR_LOCK_TIMEOUT_MS=5000
SQL_EXECUTOR_DEFAULT_MAX_ROWS=1000
SQL_EXECUTOR_MAX_ROWS=5000
SQL_EXECUTOR_MAX_RESPONSE_BYTES=5242880
